/* body {
  background-color: #1e212d;
} */

.rdw-option-wrapper {
  border: 1px solid #5f5f5f !important;
  border-radius: 20px !important;
  padding: 7px !important;
  min-width: 20px !important;
  height: 20px !important;
  transition: 0.5s;
}

.rdw-option-wrapper:hover {
  background-color: aqua;
}

.rdw-option-active {
  background-color: red !important;
  box-shadow: none !important;

}

/* Image Models */
.rdw-image-modal {
  position: absolute !important;
  top: 35px !important;
  left: 5px !important;
  display: flex !important;
  flex-direction: column !important;
  width: 260px !important;
  padding: 20px !important;
  border-radius: 15px !important;
  z-index: 100 !important;
  background: #13151D !important;
  backdrop-filter: blur(30px) !important;
  box-shadow: 4px 6px 15px #bfbdbd !important;
}

.rdw-image-modal-header {
  font-size: 15px !important;
  margin: 10px 0 !important;
  color: red !important;
  display: flex !important;
}

.rdw-image-modal-header-option {
  width: 100% !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.rdw-image-modal-header-option {
  width: 50% !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.rdw-image-modal-header-label-highlighted {
  background: #ffffff !important;
  border-bottom: 2px solid #0088ff !important;
}

/* Image Inputs */

.rdw-image-modal-url-input {
  width: 90% !important;
  height: 35px !important;
  margin: 15px 0 12px !important;
  border: 1px solid #ffe800 !important;
  border-radius: 10px !important;
  font-size: 15px !important;
  background-color: #1e212d !important;
  padding: 2px 5px !important;
}

.rdw-image-modal-size-input {
  width: 40% !important;
  height: 20px !important;
  border: 1px solid #ffe800 !important;
  background-color: #1e212d !important;
  border-radius: 2px !important;
  font-size: 12px !important;
}

/* Image BTNs */
.rdw-image-modal-btn {
  margin: 0 5px !important;
  width: 75px !important;
  color: #fce500 !important;
  height: 30px !important;
  border: 1px solid #fce500 !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  background: #1e212d !important;
  text-transform: capitalize !important;
}

.rdw-image-modal-btn:disabled {
  background: #2f3241 !important;
  border: 1px solid #948810 !important;
}